<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">

		<title>Cbtis 206</title>

	</head>
	<body>

		<div id="main-container">
			<div id="sidebar">

				<div class="navbar-container" id="logo-container">
					<img id="logo" src="/static/icons/logo.png"></img>
				</div>

				<div class="separator"></div>

				<div id="icons" class="navbar-container">
					<div> <!-- Home -->
						<a href="/">
							<img class="icon" src="/static/icons/home.png">
						</a>
					</div>

					<div> <!-- Tramites -->
						<a href="/tramites/">
							<img class="icon" src="/static/icons/procedures.png">
						</a>
					</div>

					<div> <!-- Informacion -->
						<a href="/informacion/">
							<img class="icon" src="/static/icons/info.png">
						</a>
					</div>
				</div>

				<div class="separator"></div>

				<div class="navbar-container" id="info-container"> <!-- Contacto -->
					<a href="/contacto/">
						<img class="icon" src="/static/icons/contact.png">
					</a>
				</div>
			</div>


			<!-- TODO: Refactorizar y arreglar los estilos de esta parte -->

			<div id="home-content">
				<div id="title">
					<h1>Tramites</h1>
				</div>

				<div id="content">

					<div class="procedure">
						<div class="procedure-title">
							<span class="decorator"></span>
							<h3>Consulta Kardex / Boleta</h3>
							<span class="decorator"></span>
						</div>

						<div class="procedure-text">
							Consulta aquí tu historial de Kardex's academicos
						</div>

						<div class="procedure-button">Tramitar</div>
					</div>


					<div class="procedure">
						<div class="procedure-title">
							<span class="decorator"></span>
							<h3>Tramite Constancias</h3>
							<span class="decorator"></span>
						</div>

						<div class="procedure-text">
							Tramita aquí tu constancia de estudios
						</div>

						<div class="procedure-button">Tramitar</div>
					</div>


					<div class="procedure">
						<div class="procedure-title">
							<span class="decorator"></span>
							<h3>Tramite Ejemplo</h3>
							<span class="decorator"></span>
						</div>

						<div class="procedure-text">
							Tramita aqui algo mas
						</div>

						<div class="procedure-button">Tramitar</div>
					</div>

				</div>
			</div>


		</div>
	</body>
</html>

<!-- https://cbtis145.mx/#home -->